[submodule "application_processor/wolfssl"]
	path = application_processor/wolfssl
	url = https://github.com/wolfSSL/wolfssl

[submodule "component/wolfssl"]
	path = application_processor/wolfssl
	url = https://github.com/wolfSSL/wolfssl
